table {
  width: 100%;
}

.mat-column-actions button {
  margin: 10px;
}

.spinner {
  background-color: rgb(230, 230, 230);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
